In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
train_dataset = pd.read_csv('train.csv')
test_dataset = pd.read_csv('test.csv')

In [3]:
X = train_dataset.iloc[:, [1,2,3,5]].values
y = train_dataset.iloc[:, 6].values

#Encoding the category of the questions column
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
labelencoder = LabelEncoder()
X[:, 0] = labelencoder.fit_transform(X[:, 0])
onehotencoder = OneHotEncoder(categorical_features=[0])
X = onehotencoder.fit_transform(X).toarray()

In [4]:
train_dataset.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [5]:
#So as to remove the dependant variable paradox
X = X[:, [0,1,2,3,4,5,6,8,9,10,11,12]]

from sklearn.cross_validation import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.25, random_state = 0)

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_valid = sc.transform(X_valid)

In [8]:
from xgboost import XGBRegressor
gbr = XGBRegressor()
gbr.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [9]:
y_pred_valid = gbr.predict(X_valid)

In [10]:
X_test = test_dataset.iloc[:, [1,2,3,5]].values

#Encoding the category of the questions column
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
labelencoder = LabelEncoder()
X_test[:, 0] = labelencoder.fit_transform(X_test[:, 0])
onehotencoder = OneHotEncoder(categorical_features=[0])
X_test = onehotencoder.fit_transform(X_test).toarray()

In [11]:
#So as to remove the dependant variable paradox
X_test = X_test[:, [0,1,2,3,4,5,6,8,9,10,11,12]]

X_test = sc.transform(X_test)

In [12]:
y_pred = gbr.predict(X_test)

In [13]:
#Here I will take care of the various negative values in the data by taking into account the various ranges of negative values
i =0
while i < y_pred.shape[0]:
    if y_pred[i]<-30:
        y_pred[i] = 110
    elif y_pred[i]>-30 and y_pred[i]<-25:
        y_pred[i] = 175
    elif y_pred[i]>-25 and y_pred[i]<-20:
        y_pred[i] = 40
    elif y_pred[i]>-20 and y_pred[i]<-15:
        y_pred[i] = 95
    elif y_pred[i]>-15 and y_pred[i]<-10:
        y_pred[i] = 150
    elif y_pred[i]>-10 and y_pred[i]<-5:
        y_pred[i] = 70
    elif y_pred[i]>-5 and y_pred[i]<0:
        y_pred[i] = 125
    
    i = i+1

In [14]:
df = pd.DataFrame()

In [15]:
df['ID'] = test_dataset.iloc[:, 0]

In [16]:
df['Upvotes'] = y_pred

In [17]:
df.head()

       ID     Upvotes
0  366953  177.174484
1   71864  419.162689
2  141692   57.781078
3  316833   32.432655
4  440445  285.281738

In [18]:
df.to_csv('Boosting_with_removingNegative_1.csv', index=False)